<modal class="modal hidden" id="info-modal">
  <div class="container modal-content">
    <span class="close-btn">&times;</span>
    <p>
      This is a personal project that I created to showcase my
      skills and projects. It is a responsive website that I
      designed and developed using HTML, CSS, and JavaScript. I
      also used Ruby on Rails to create a blog section where I
      write about my journey as a web developer.
    </p>
  </div>
</modal>
