<section class="contact">
  <div class="container">
    <h2 class="h2" id="contact">Contact</h2>
    <%# <div class="contact-form"> %>
    <div class="text-field">
      <div class="form-field">
        <p class="contact-text">Thank you for visiting my portfolio. I am currently looking for new
        opportunities and would love to hear from you. </br></br>If you have any questions or would like to get in touch, </br>
        please feel free to send me an email at: </br></br>
        <%= link_to ("<i class='fa-solid fa-envelope'></i> catalinagalanvargas@gmail.com").html_safe, "mailto:catalinagalanvargas@gmail.com", class: "link", target: :_blank  %>
        </p>
      </div>
    </div>
    <%# </div> %>
      <%# <form action="mailto:catalinagalanvargas@gmail.com" method="GET" class="contact-form" netlify>
        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            inputmode="email"
          />
        </div>
        <div class="form-field">
          <label for="message">Message</label>
          <textarea name="message" id="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-cta">Send</button>
      </form>
      <script id="ratufa_loader" src="https://www.ratufa.io/c/ld.js?f=aa7o4cw9&n=n1.ratufa.io"></script> %>
  </div>
</section>
