<section class="contact">
  <div class="container">
    <h2 class="h2" id="contact">Contact</h2>
      <form action="mailto:catalinagalanvargas@gmail.com" method="GET" class="contact-form" netlify>
        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            inputmode="email"
          />
        </div>
        <div class="form-field">
          <label for="message">Message</label>
          <textarea name="message" id="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-cta">Send</button>
      </form>
    <!-- </div> -->
  </div>
</section>
