<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <nav>
        <ul class="footer-links">
          <li class="footer-link">
            <a title="GitHub" href="https://github.com/catagalan-mtl" target="_blank"
              ><img
                loading="lazy"
                src="assets/images/social-links/github.svg"
                alt="GitHub"
            /></a>
          </li>
          <li class="footer-link">
            <a title="Codepen" href="https://github.com/catagalan-mtl" target="_blank"
              ><img
                loading="lazy"
                src="assets/images/social-links/codepen.svg"
                alt="Codepen"
            /></a>
          </li>
          <li class="footer-link">
            <a title="Linkedin" href="https://www.linkedin.com/in/catalina-galan-vargas" target="_blank"
              ><img
                loading="lazy"
                src="assets/images/social-links/linkedin.svg"
                alt="Linkedin"
            /></a>
          </li>
          <li class="footer-link">
            <a title="Twitter" href="https://github.com/catagalan-mtl" target="_blank">
              <img
                loading="lazy"
                src="assets/images/social-links/twitter.svg"
                alt="Twitter"
            /></a>
          </li>
        </ul>
      </nav>
      <p class="footer-text">
        &copy; <span>2024</span> - Created  with  🖤  by  <a target="_blank" href="https://github.com/catagalan-mtl"> Catalina Galan Vargas.</a>
      </p>
    </div>
  </div>
</footer>
