<header class="header" data-controller="nav" >

  <div class="menu-btn-container">
    <label class="theme-switch" for="theme-switch">
      <!-- <span></span> -->
      <input data-theme-target="toggleElement" data-action="click->theme#fire" type="checkbox" id="theme-switch" role="switch"/>
    </label>
    <!-- <div class="container"> -->
    <button data-action="click->nav#fire" data-nav-target="buttonElement" type="button" class="menu-btn">menu</button>
    <!-- </div> -->
  </div>

  <nav class="nav hidden" data-nav-target="navElement" >
    <ol class="nav-items" data-action="click->nav#fire">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#skills">My Skills</a></li>
      <li class="nav-item"><a href="#projects">Projects</a></li>
      <li class="nav-item"><a href="C_Galan_Vargas_Fullstack_Developer.pdf" target="_blank">Resume</a></li>
      <%# <li class="nav-item"><a href="#about">About</a></li> %>
      <li class="nav-item"><a href="#contact" data-focused="last-focused">Contact</a></li>
    </ol>
  </nav>

  <div class="container" data-nav-target="heroElement" >
    <div class="header-textbox">
      <!-- Replace with your name and job title -->
      <h1 class="h1">
        Hi, I'm Cat<br />
        Full-Stack Web Developer
      </h1>

      <!-- Add a small introductory paragraph about yourself -->
      <p class="header-text">
        I find joy in bringing imaginative ideas to life through web applications.
        Committed to finding elegant solutions, my work is driven
        by the fascinating interplay between creativity and logical thinking.
      </p>

      <div class="header-links">
        <li>
          <%= link_to ("<i class='fa-brands fa-square-github'></i>").html_safe, "https://github.com/catagalan-mtl", class: "header-link", target: :_blank  %>
        </li>
        <li>
          <%= link_to ("<i class='fa-brands fa-linkedin'></i>").html_safe, "https://www.linkedin.com/in/catalina-galan-vargas", class: "header-link", target: :_blank  %>
        </li>
        <li>
          <%= link_to ("<i class='fa-solid fa-envelope'></i>").html_safe, "mailto:catalinagalanvargas@gmail.com", class: "header-link", target: :_blank  %>
        </li>
      </div>
      <div class="header-btns">
        <a href="#contact" class="btn btn-cta">Contact</a>
        <a href="#projects" class="btn btn-secondary">Projects</a>
      </div>
    </div>
  </div>
</header>
