<header class="header">

  <div class="menu-btn-container">
    <label class="theme-switch" for="theme-switch">
      <!-- <span></span> -->
      <input type="checkbox" id="theme-switch" role="switch"/>
    </label>
    <!-- <div class="container"> -->
    <button type="button" class="menu-btn">menu</button>
    <!-- </div> -->
  </div>

  <nav class="nav hidden">
    <ol class="nav-items">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#work">My Work</a></li>
      <li class="nav-item"><a href="#blog">See Blog</a></li>
      <li class="nav-item"><a href="#skills">My Skills</a></li>
      <li class="nav-item">
        <a href="#contact" data-focused="last-focused">Contact</a>
      </li>
    </ol>
  </nav>

  <div class="container">
    <div class="header-textbox">
      <!-- Replace with your name and job title -->
      <h1 class="h1">
        Hi, I'm Cat<br />
        Full-Stack Web Developer
      </h1>

      <!-- Add a small introductory paragraph about yourself -->
      <p class="header-text">
        I find joy in bringing imaginative ideas to life through web applications.
        Committed to finding elegant solutions, my work is driven
        by the fascinating interplay between creativity and logical thinking.
      </p>

      <div class="header-btns">
        <a href="#contact" class="btn btn-cta">Contact</a>
        <a href="#work" class="btn btn-secondary">Projects</a>
      </div>
    </div>
  </div>
</header>
