<section class="projects">
  <div class="container">
    <h2 class="h2" id="projects">My Projects</h2>
    <%# <h2 class="h2" id="blog">My Projects</h2> %>
    <%# <div class="project-box-container"> %>
      <project class="project-box featured-project">
        <div class="project-textbox">
          <h3 class="h3">
            FrontRow
          </h3>
          <p class="project-text">
            Note: All the tips, tricks shared in this project are part
            of my GitHub repository css tips tricks A handmade
            collection of pro css tips tricks for developers.
          </p>
          <div class="project-demo">
            <a href="#" class="link" target="_blank" rel="noopener"
              >View Demo</a
            >
            <%# <span class="reaction-count">
              <img src="./assets/images/heart-outline.svg" alt="heart" />
              416
            </span> %>
          </div>
        </div>
        <picture class="project-illustration">
          <%= image_tag "sharing-card" %>
          <%# <img
            src="../../assets/images/sharing_card.png"
            alt="Portfolio picture"
            <%# loading="lazy" %>
          <%# /> %>
        </picture>
      </project>
    <%# </div> %>
  </div>
</section>
