<section class="projects">
  <div class="container">
    <h2 class="h2" id="projects">My Projects</h2>
    <%# <h2 class="h2" id="blog">My Projects</h2> %>
    <div class="project-boxes">
      <project class="project-box featured-project">
        <div class="project-textbox">
          <div>
            <h3 class="h3">
              22 Useful CSS Tips and Tricks Every Developer Should Know
            </h3>
            <p class="project-text">
              Note: All the tips, tricks shared in this project are part
              of my GitHub repository css tips tricks A handmade
              collection of pro css tips tricks for developers.
            </p>
          </div>
          <div class="project-info">
            <a href="https://dev.to/devsyedmohsin" class="link" target="_blank" rel="noopener"
              >Continue reading</a
            >
            <%# <span class="reaction-count">
              <img src="./assets/images/heart-outline.svg" alt="heart" />
              416
            </span> %>
          </div>
        </div>
        <picture class="project-illustration">
          <img
            src="assets/images/featured-blog.webp"
            alt="MacBook Pro"
            loading="lazy"
          />
        </picture>
      </project>
    </div>
  </div>
</section>
