<section class="client">
  <div class="container">
    <h2 class="h2">My Skills</h2>

    <div class="logos" data-controller="rotate">

      <!-- Replace alt with client/company name and src attributes of images with path to relative img of client logo -->
      <div data-rotate-target="logoWrapper" class="logo-group" >
        <i class="devicon-ruby-plain logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">Ruby</p>
        <i class="devicon-ruby-plain logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">Ruby</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-rails-plain logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">Rails</p>
        <i class="devicon-rails-plain logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">Rails</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-javascript-plain logo hide"  style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 25px">JavaScript</p>
        <i class="devicon-javascript-plain logo hide"  style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 25px">JavaScript</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-postgresql-plain logo hide"  style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 20px">PostgreSQL</p>
        <i class="devicon-postgresql-plain logo hide"  style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 20px">PostgreSQL</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-css3-plain logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">CSS</p>
        <i class="fa-brands fa-sass logo hide" style="font-size: 60px"></i>
        <p class="logo hide" style="font-size: 30px">SCSS</p>
      </div>
    </div>
  </div>
</section>
