<section class="client">
  <div class="container">
    <h2 class="h2" id="skills">My Skills</h2>

    <div class="logos" data-controller="rotate">

      <!-- Replace alt with client/company name and src attributes of images with path to relative img of client logo -->
      <div data-rotate-target="logoWrapper" class="logo-group" >
        <i class="devicon-ruby-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Ruby</p>
        <i class="devicon-ruby-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Ruby</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-rails-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Rails</p>
        <i class="devicon-rails-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Rails</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-javascript-plain logo hide"  style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3vw">JavaScript</p>
        <i class="devicon-javascript-plain logo hide"  style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3vw">JavaScript</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-postgresql-plain logo hide"  style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3vw">PostgreSQL</p>
        <i class="devicon-postgresql-plain logo hide"  style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3vw">PostgreSQL</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="fa-brands fa-html5 logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">HTML</p>
        <i class="fa-brands fa-html5 logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">HTML</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-css3-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">CSS</p>
        <i class="devicon-css3-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">CSS</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="fa-brands fa-sass logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">SCSS</p>
        <i class="fa-brands fa-sass logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">SCSS</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-bootstrap-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Bootstrap</p>
        <i class="devicon-bootstrap-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Bootstrap</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-figma-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Figma</p>
        <i class="devicon-figma-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Figma</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-git-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Git</p>
        <i class="devicon-git-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Git</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-github-original logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">GitHub</p>
        <i class="devicon-github-original logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">GitHub</p>
      </div>

      <div data-rotate-target="logoWrapper" class="logo-group">
        <i class="devicon-webpack-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Webpack</p>
        <i class="devicon-webpack-plain logo hide" style="font-size: 7vw"></i>
        <p class="logo hide" style="font-size: 3.5vw">Webpack</p>
      </div>
    </div>
  </div>
</section>
