<section class="client">
  <div class="container">
    <h2 class="h2">My Skills</h2>
    <div class="logos">
      <!-- Replace alt with client/company name and src attributes of images with path to relative img of client logo -->
      <div data-controller="rotate" class="logo-group">
        <p
          data-rotate-toTop-class="to-top" class="icon-name"
          data-rotate-target="nameElement">Ruby
        </p>
        <img
          loading="lazy"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain.svg"
          alt="Ruby logo"
          class="logo"
          data-rotate-hide-class="hide"
          data-rotate-toTop-class="to-top"
          data-rotate-target="logoElement"
        />
      </div>
    </div>
  </div>
</section>
