<header class="header-small">

  <div class="menu-btn-container">
    <label class="theme-switch" for="theme-switch">
      <!-- <span></span> -->
      <input data-theme-target="toggleElement" data-action="click->theme#fire" type="checkbox" id="theme-switch" role="switch"/>
    </label>
    <!-- <div class="container"> -->
    <button href="back" type="button" class="menu-btn" onclick="history.back()">back</button>
    <!-- </div> -->
  </div>

  <div class="container">
    <div class="header-small-textbox">
      <!-- Replace with your name and job title -->
      <h1 class="h1">FrontRow</h1>
      <h3 class="h3"><i>The Concert Starts Here</i></h3>
    </div>
  </div>

</header>

<section class=project-show>
</section>
  <div class="container">
    <div class="info-box">
      <h2 class="h2" id="projects"><%= @project.name %></h2>
      <div class="info-textbox">
        <p><%= @project.info %></p>
      </div>
    </div>
  </div>
