/* @import url("./_buttons.css");
@import url("./_menu.css"); */

.header {
  min-block-size: calc(100vh + var(--radius));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body.dark .header {
  background-image: linear-gradient(#00000032, #000000e8),
    url("hero-bg-dark.jpg");
}

body.light .header {
  background-image: linear-gradient(#caaeaec3, #ffffffe4),
    url("hero-bg-light.webp");
}

.header-textbox {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.header-text {
  font-size: var(--text-large);
  font-weight: 400;
  max-inline-size: 745px;
  margin-block-start: var(--gutter-micro);
}

.header-links {
  display: flex;
  /* flex-direction: column; */
  gap: var(--gutter-x-small);
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: var(--gutter-medium);
  padding-left: 0.5vh;
}

.header-link {
  font-size: var(--text-x-large);
  color: var(--body);
  opacity: 0.875;
  transition: 225ms ease-in opacity;
}

.header-link:hover {
  color: var(--sub);
}
@media (max-width: 1200px) {
  .header-text {
    max-inline-size: 685px;
  }

  .header-textbox {
    top: 55%;
  }
}

@media (max-width: 845px) {
  .header-text {
    max-inline-size: 585px;
  }

  .header-textbox {
    top: 58%;
  }
}

.header-btns {
  display: inline-flex;
  gap: var(--gutter-x-small);
}

@media (max-width: 400px) {
  .header-textbox {
    top: 56%;
    left: 0;
    text-align: center;
    padding-inline: 0.6rem;
  }
  .header-btns {
    flex-direction: column;
    width: 80%;
  }
}
