/* @import url("./_buttons.css");
@import url("./_menu.css"); */

.header-small {
  min-block-size: calc(25vh + var(--radius));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body.dark .header-small {
  background-image: linear-gradient(#00000032, #000000e8),
    url("hero-bg-dark.jpg");
}

body.light .header-small {
  background-image: linear-gradient(#caaeaec3, #ffffffe4),
    url("hero-bg-light.webp");
}

.header-small-textbox {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translateY(-50%);
}

.header-small-text {
  font-size: var(--text-large);
  font-weight: 400;
  max-inline-size: 745px;
  margin-block-start: var(--gutter-micro);
  margin-block-end: var(--gutter-medium);
}

.header-small-btns {
  display: inline-flex;
  gap: var(--gutter-x-small);
}

.info-box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 3.5%;
  margin-block-start: var(--gutter-x-large);
  margin-block-end: px;
  /* align-items: center; */
  justify-content: center;
  border: 1px solid var(--border);
  padding: var(--gutter-medium) var(--gutter-small);
  border-radius: var(--gutter-medium);
  background-color: var(--bg-color-secondary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.info-textbox {
  height: 100%;
  align-items: center;
  margin-top: var(--gutter-small);
}

.info-textbox p {
  color: var(--sub);
}

.info-box .info-textbox {
  flex-basis: 50%;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-medium);
  margin-block-end: var(--gutter-small);
}

.info-box h3 {
  margin-block-start: var(--gutter-x-small);
}

.info-box {
  flex-basis: 45%;
}

.stack-box {
  padding: 0 25vh;
  align-items: center;
  justify-content: center;
  margin-top: var(--gutter-small);
  margin-bottom: var(--gutter-small);
}

.stack-box ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter-x-small);
  align-items: center;
  justify-content: center;
}

.stack-box li {
  text-align: center;
  font-size: var(--text-small);
}

.link-icon {
  align-self: center;
  color: var(--body)
}

.link-icon:hover {
  color: var(--sub);
}

.credits {
  align-self: flex-start;
  font-size: var(--text-small);
  margin-block-start: var(--gutter-small);
}

.credits h4 {
  margin-block-end: var(--gutter-nano);
}

.credits li {
  list-style-type: none;
}

.media-box {
  margin-block-start: var(--gutter-small);
  align-self: center;
}

.media-box video {
  max-inline-size: 100%;
  border-radius: var(--gutter-x-small);
}

.media-box img {
  max-inline-size: 100%;
  border-radius: var(--gutter-x-small);
}

@media (max-width: 1200px) {
  .header-small-text {
    top: 30%;
    left: 10%;
    max-inline-size: 685px;
  }

  .stack-box {
    padding: 0 20vh;
  }

  .stack-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 845px) {
  .header-small-text {
    top: 45%;
    left: 10%;
    max-inline-size: 585px;
  }

  .stack-box {
    padding: 0 18vh;
  }

  .stack-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .info-box {
    margin-block-end: 24.4px;
  }

  .stack-box {
    padding: 0 15vh;
  }

  .stack-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .info-box {
    margin-block-end: 24.4px;
    /* flex-direction: column-reverse; */
    margin-block-start: var(--gutter-medium);
  }

  .stack-box ul {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 400px) {
  .header-small-textbox {
    left: 0;
    top: 50%;
    /* text-align: center; */
    padding-inline: 0.6rem;
  }

  .header-small-btns {
    flex-direction: column;
    width: 80%;
  }

  .stack-box ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
