.project-boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 3.5%;
  margin-block-start: var(--gutter-x-large);
}

.project-box {
  flex-basis: 31%;
  border: 1px solid var(--border);
  padding: var(--gutter-medium) var(--gutter-small);
  border-radius: var(--gutter-nano);
  background-color: var(--bg-color-secondary);
}

.project-textbox {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-text {
  font-size: var(--text-small);
  margin-block: var(--gutter-x-small);
}

.project-info {
  display: flex;
  justify-content: space-between;
  margin-block-start: auto;
}

.reaction-count {
  display: inline-flex;
  align-items: center;
  gap: var(--gutter-nano);
  font-size: initial;
}

@media (max-width: 985px) {
  .project-boxes {
    max-inline-size: 685px;
    margin-inline: auto;
    justify-content: center;
    gap: 4%;
  }

  .project-box:nth-of-type(2),
  .project-box:nth-of-type(3) {
    flex-basis: 48%;
  }

  .project-box:last-child {
    display: none;
  }
}

@media (max-width: 650px) {
  .project-box:nth-child(2),
  .project-box:nth-child(3),
  .project-box:last-child {
    flex-basis: 100%;
  }

  .featured-project {
    margin-block-end: 0;
  }

  .project-box:not(:last-child) {
    margin-block-end: var(--gutter-x-small);
  }

  .project-box:last-child {
    display: block;
  }
}

/* --------------------------------- */
/* ----- Featured article -----*/
/* --------------------------------- */

.featured-article {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 44.8px;
}

@media (max-width: 985px) {
  .featured-article {
    margin-block-end: 24.4px;
    flex-direction: column-reverse;
  }
}

.featured-article .article-textbox {
  flex-basis: 44%;
}

.featured-article h3 {
  margin-block-start: var(--gutter-x-small);
}

.featured-article .article-illustration {
  flex-basis: 50%;
}

.article-illustration img {
  border-radius: var(--gutter-nano);
}

.featured-article .article-text {
  font-size: var(--text-medium);
}

.featured-article .article-info {
  justify-content: flex-start;
  gap: var(--gutter-medium);
}
